/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

.branding__text {
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 110%;
  text-align: left;
  letter-spacing: -0.01em;
  cursor: pointer;
  font-family: "AvertaCY-Black", sans-serif;
  color: transparent;
  text-shadow: none;
  -webkit-text-stroke: 1px #000;
  letter-spacing: -0.02em;
}
.hero__tagline {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: -0.01em;
  color: #000000;
  line-height: 110%;
  text-align: left;
  margin-bottom: 28px;
}

.scroll-to-top{
  position: fixed;
  right: 25px;
  bottom: 150px;
}
.top-icon{
  transform: rotate(180deg)
}
.hover-eff:hover{
  opacity: 1;
}

@media (max-width: 678px){
  .header-wrap{
    padding: 0 20px !important;
  }
  .branding__text{
    font-size: 40px;
  }
  .hero__tagline{
    font-size: 12px;
  }
}

